/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Variables
# Normalize
# Typography
	## Headings
	## Copy
# Elements
	## Lists
	## Tables
# Forms
	## Buttons
	## Fields
# Navigation
	## Links
	## Menus
	## Next & Previous
# Accessibility
# Alignments
# Clearings
# Layout
# Widgets
# Content
	## Archives
	## Posts and pages
	## Comments
# Blocks
# Media
	## Captions
	## Galleries
---------------------------------------------------------------*/
@media only screen and (max-width: 980px) {
	/* For ipad view: */
	.wp-block-columns {
		.wp-block-column {
			flex-basis: 100%!important;
		}
	}
  }
/* Typography */
html {
	font-size: 16px;
  }
@media only screen and (min-width: 600px) {
	html {
		font-size: 18px;
	}
}
/* NAVIGATION */
.top-header-contain {
	background-color: $color__primary;
	color: #fff;
	#secondary-nav-contain {
		margin: 0 auto;
		.secondary-menu {
			li {
				a {
					text-transform: uppercase;
					font-weight: 700;
				}
			}
		}
	}
}
.middle-header-contain {
	background-color: $color__background-screen;
}
.bottom-header-contain {
	background-color: $color__background-screen;
	border-top: 1px solid #fff;
	-webkit-box-shadow: 0px 10px 10px -13x rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 10px 10px -13px rgba(0,0,0,0.55);
	box-shadow: 0px 10px 10px -13px rgba(0,0,0,0.55);
	.wrapper {
		border-bottom: 0px solid #ccc;
		border-top: 0px solid #ccc;
		position: relative;
		.main-menu {
			li {
				a {
					text-transform: uppercase;
				}
			}
		}
	}
}
@media only screen and (min-width: 782px) {
	.sticky-nav {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 999;
	}
}
//Search form
#header-search {
	.search-form {
		position: absolute;
		top: 0px;
		right: 30px;
		min-width: 200px;
		border-bottom: 1px solid $color__secondary;
		button {
			bottom: 2px;
			color: $color__secondary;
			top: 2px;
		}
		input {
			padding-right: 2.5rem;
			width: 100%;
			padding: 0;
			padding-bottom: 2px;
			color: $color__primary;
			background: transparent;
			border: solid 0px transparent;
		}
	}
}
.header-search-contain {
	button {
		&[aria-expanded="false"] {
			color: $color__secondary!important;
		}
		&[aria-expanded="true"] {
			color: $color__primary!important;
		}
	}
}
/* ADVERTISING */
#topad {
	display: flex;
	justify-content: center;
	padding: 1rem 0;
	.topad-container {
		min-width: 970px;
	}
}
span.advertisement-tag {
    text-align: center;
    font-size: 10px;
    display: block;
}
/* HOMEPAGE */
.home {
	header {
		&.entry-header {
			display: none;
		}
	} 
}
/* Posts and pages */
.wpnbha {
	&.image-alignleft {
		article {
			flex-direction: row;
		}
	}
	article {
		border: 1px solid whitesmoke;
		padding: 5px;
		display: flex;
    	flex-direction: column;
		.entry-wrapper {
			flex: auto;
			display: flex;
			flex-direction: column;
			.entry-title {
				font-size: 1.3em;
			}
			p {
				flex: auto;
			}
			.entry-meta {
				background-color: whitesmoke;
				padding: 5px;
				width: 100%;
			}
		}
	}
}
.cat-links{
	a {
		background-color: $color__primary;
		color: #fff;
		display: inline-block;
		margin: 0 0.25rem 0.25rem 0;
		padding: 0.5em 0.75em;
		&:visited {
			color: #d3d3d3;
		  }
		&:hover {
			background-color: $color__primary;
			color: #d3d3d3;
		}
	}

}
.entry-meta {
	.byline {
		a {
			color: $color__primary;
			font-weight: bold;
			text-decoration: none;
			&:visited {
				color: $color__primary;
			}
			&:hover {
				color: $color__primary;
			}
		}
	}
	a {
		.avatar {
			background-color: $color__primary;
		}
	}
	.avatar {
		background-color: $color__primary;
	}
	
}
.wp-block-newspack-blocks-carousel { 
	article {
		.entry-wrapper {
			.entry-title {
				margin-bottom: 0.9rem;
				a {
					color: $color__secondary;
				}
			}
			.entry-meta {
				background-color: rgba(0, 0, 0, 0.4);
				justify-content: center;
				width: max-content;
				margin: 0 auto;
				padding: 5px;
			}
		}
	} 
}
//Articles effects
article[data-post-id] {
	transition: transform .5s;
	&::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
		box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
		content: '';
		opacity: 0;
		z-index: -1;
	}
	&:hover,
	&:focus {
		transform: scale3d(1.006, 1.006, 1);
		&::after {
			opacity: 1;
		}
	}
}
/* Headers */
.entry-content h1 a,
.entry-content h2 a,
.entry-content h3 a,
.entry-content h4 a,
.entry-content h5 a,
.entry-content h6 a {
	color: $color__text-main;
}
.entry-content h1 a:visited,
.entry-content h2 a:visited,
.entry-content h3 a:visited,
.entry-content h4 a:visited,
.entry-content h5 a:visited,
.entry-content h6 a:visited {
	color: $color__background-dark;
}
.entry-content h1 a:hover,
.entry-content h2 a:hover,
.entry-content h3 a:hover,
.entry-content h4 a:hover,
.entry-content h5 a:hover,
.entry-content h6 a:hover {
	color: $color__text-light;
}
.accent-header,
.article-section-title {
	border-bottom: 0px solid #ccc;
	color: #fff;
	font-size: 0.8em;
	padding-bottom: 0;
	padding: 10px;
	text-align: center;
	background-color: $color__primary;
}
/* PULLQUOTE */
.wp-block-pullquote {
	padding: 1em 0;
	text-align: center;
	blockquote {
		p {
			font-size: 1.1em!important;
		  }
	}
}
.wpp-list-container {
	background-color: whitesmoke;
	padding-bottom: 5px;
	.article-section-title {
		margin-top: 0;
	}
	.wpp-list {
		.wpp-thumbnail {
			margin: 0 0.5rem 0 0;
			border: 1px solid $color__primary;
			padding: 1px;
		}
		.wpp-post-title {
			text-decoration: none;
			font-family: "Lora";
			font-size: 0.9rem;
			font-weight: 700;
			margin-top: 0;
		}
	}
}
/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
/* Site footer */
.site-footer {
	.footer-widgets {
		padding: 0;
		background-color: whitesmoke;
	}
	.site-info {
		.site-info-contain:first-child {
			border-top: 0px solid #ccc;
			padding-top: 1rem;
		}
		.divider-fade {
			margin: 0 auto;
			margin-bottom: 20px;
			margin-top: 20px;
			max-width: 560px;
			&.top {
				margin-bottom: 0;
			}
			&.bottom {
				margin-top: 0;
			}
		}
	}
	.footer-widgets {
		.widget_bloomwidget {
			max-width: 600px;
			margin: 0 auto;
			margin-right: auto!important;
			.et_bloom_widget_content {
				.wedge_edge {
					.et_bloom_form_content {
						padding-top: 0!important;
					}
				}
			}
		}
	}
}
.sticky-element {
	position: fixed;
	top: 20px;
	margin-left: 40px;
}
//Fading Divider
.divider-fade {
	height: 1px;
	background: -webkit-linear-gradient(left, rgb(250, 196, 198) 10%, rgb(196,22,28) 50%, rgb(250, 196, 198) 90%);
}
//widget footer area
.site-info {
	.widget-area {
		.wrapper {
			max-width: 600px;
			border-top: 0px solid #ccc;
			text-align: center;
			.widget_media_image {
				.logo-brand {
					max-width: 50%!important;
				}
			}
		}
	}
}
.site-footer {
	.footer-branding {
		margin-bottom: 20px;
		.wrapper {
			border-top: 0px solid transparent;
			padding-top: 0;
			max-width: 560px;
			text-align: center;
			margin: 0 auto;
			max-width: 100px;
		}
	}
}
.native-ads-pixel-tracker {
	display: none;
}
.social-navigation, .social-links-menu {
	color: $color__primary;
	li {
		a {
			svg {
				display: block;
				width: 35px;
				height: 35px;
				transform: translateZ(0);
			}
		}
	}
}
.container-sponsorcontent {
	margin-bottom: 0!important;
	article {
		display: inline-flex;
		background-color: #dae0eb !important;
		padding: 10px;
		margin-bottom: 0!important;
		.entry-wrapper {
			padding-left: 10px;
			display: flex;
			flex-direction: column;
			position: relative;
			p {
				font-size: 16px;
			}
			h3 {
				margin-top: 0;
				font-size: 1.1em;
			}
			a.button.sc-button-link {
				text-align: center;
				width: 35%;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 300;
				border-radius: 0;
				padding: 5px 0;
			}
			.entry-meta {
				display: block;
				text-align: right;
				margin-top: 10px;
				font-size: 0.7em;
				span.sponsor-meta {
					font-weight: 600;
					font-size: 0.7em;
				}
			}
		}
	}
}
@media only screen and (max-width: 900px) {
	.container-sponsorcontent {
		article {
			flex-wrap: wrap;
			.post-thumbnail {
				flex-basis: 100% !important;
				margin-right: 0 !important;
			}
			.entry-wrapper {
				flex-basis: 100% !important;
				margin-right: 0 !important;
			}
		}
		.sponsoredContent {
			display: none;
		}
	}
}
@media only screen and (max-width: 767px) {
	.container-sponsorcontent {
		article {
			display: block;
			.entry-wrapper {
				padding-left: 0;
				h3 {
					margin-top: 1rem;
				}
			}
		}
	}
}
.rss-section {
	background-color: lightgrey;
	padding: 1rem;
	.article-section-title {
		color: #fff;
		font-size: 1.3rem;
		text-align: center;
	}
	article {
		.post-thumbnail {
			a {
				&:first-child {
					position: relative;
				}
			}
		}
		.entry-title {
			font-size: 1.1rem;
		}
	}
	.wp-block-newspack-blocks-homepage-articles {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0;
		list-style: none;
		padding-top: 1rem;
		article {
			flex-basis: calc( ( 100% / 2 ) - 16px);
		}
	}
}
@media only screen and (max-width: 980px) {
	.rss-section {
		.wp-block-newspack-blocks-homepage-articles {
			display: flex;
			display: block;
			article {
				margin-bottom: 1rem;
			}
		}	
	}
}
// ADVERTISEMENT
@media only screen and (max-width: 980px) {
	#leaderboard-widget {
		text-align: center;
	}
}