
// Custom Colors - defaults
$color__primary: #C4161C;
$color__primary-variation: #D96A6E;
$color__secondary: #86AC87;
$color__secondary-variation: darken( $color__secondary, 10% );

// Backgrounds
$color__background-body: #fff;
$color__background-input: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__secondary;
$color__background-button-hover: #232323;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background_selection: mix( $color__background-body, $color__primary, 75% ); // lighten( salmon, 22.5% ); // lighten( #0999d4, 48% );
$color__background-dark: #333;

// Text
$color__text-main: #232323;
$color__text-light: #767676;
$color__text-hover: lighten( #232323, 22.5% );
$color__text-screen: #F8AF2E;
$color__text-input: #666;
$color__text-input-focus: #232323;

// Links
$color__link: $color__secondary;
$color__link-visited: $color__secondary;
$color__link-hover: $color__secondary-variation;

// Borders
$color__border: #ccc;
$color__border-link: #C4161C;
$color__border-link-hover: $color__primary-variation;
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: $color__border;
$color__border-abbr: #666;
