/* @import "colors";
@import "fonts";
@import "structure";
@import "columns";
@import "transitions"; 
Copy and modify the variables from the .scss files in this document to overwrite the default parent theme styles.
*/

// Custom Colors - defaults
$color__primary: #C4161C;
$color__primary-variation: #D96A6E;
$color__secondary: #86AC87;
$color__secondary-variation: darken( $color__secondary, 10% );

// Backgrounds
$color__background-body: #fff;
$color__background-input: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $color__secondary;
$color__background-button-hover: #232323;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background_selection: mix( $color__background-body, $color__primary, 75% ); // lighten( salmon, 22.5% ); // lighten( #0999d4, 48% );
$color__background-dark: #333;

// Text
$color__text-main: #232323;
$color__text-light: #767676;
$color__text-hover: lighten( #232323, 22.5% );
$color__text-screen: #F8AF2E;
$color__text-input: #666;
$color__text-input-focus: #232323;

// Links
$color__link: $color__secondary;
$color__link-visited: $color__secondary;
$color__link-hover: $color__secondary-variation;

// Borders
$color__border: #ccc;
$color__border-link: #C4161C;
$color__border-link-hover: $color__primary-variation;
$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: $color__border;
$color__border-abbr: #666;
// Font and typographic variables

$font__body: "Open Sans", Georgia, Garamond, "Times New Roman", serif !default;
$font__heading: -apple-system, BlinkMacSystemFont, "Lora", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !default;

$font__code: Menlo, monaco, Consolas, Lucida Console, monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__size_base: 20px;
$font__size_base_sm: 18px;
$font__size-ratio: 1.125;

$font__size-xxxs:  1em * 0.5; // 10px
$font__size-xxs:   1em * 0.6; // 12px
$font__size-xs:    1em * 0.7; // 14px
$font__size-sm:    1em * 0.8; // 16px
// $font__size_base: 1em * 1; // 20px
$font__size-md:    1em * 1.2; // 24px
$font__size-lg:    1em * 1.4; // 28px
$font__size-xl:    1em * 1.8; // 36px
$font__size-xxl:   1em * 2.2; // 44px
$font__size-xxxl:  1em * 2.8; // 56px
$font__size-xxxxl: 1em * 3.2; // 64px
$font__size-xxxxxl: 1em * 4.0; // 80px

$font__line-height-body: 1.6;
$font__line-height-pre: 1.6;
$font__line-height-heading: 1.2;
$font__line-height-double:  2 * $font__line-height-heading;